@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.bgindex {
  background-image: url("../img/bgindex.jpeg");
  background-size: 100vw; }

.TituloHome {
  display: flex;
  justify-content: center; }
  .TituloHome h1 {
    width: 50%;
    font-size: 24px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    color: white; }

.formatoTexto {
  color: white;
  font-weight: bold;
  background-color: rgba(10, 5, 68, 0.499); }

/*Mobile*/
@media only screen and (max-width: 768px) {
  .TituloHome h1 {
    font-size: 24px; }
  .indexmain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .indexmain div {
      display: flex;
      justify-content: center;
      padding: 0.5rem; }
    .indexmain iframe {
      width: 90%; }
    .indexmain .formatoTexto {
      font-size: 14px; } }

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .TituloHome h1 {
    font-size: 34px; }
  .indexmain {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas: "video1 texto1" "video1 texto2"; }
    .indexmain iframe {
      height: 80%; }
    .indexmain .formatoTexto {
      font-size: 1.2vw; }
  .gridvideo {
    grid-area: video1;
    margin-left: 1rem; }
  .gridtexto1 {
    grid-area: texto1;
    margin-left: 1rem; }
  .gridtexto2 {
    grid-area: texto2;
    margin-left: 1rem; } }

/*Desktop*/
@media only screen and (min-width: 1024px) {
  .TituloHome h1 {
    font-size: 40px; }
  .indexmain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px; }
    .indexmain div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0.5rem;
      width: 420px; }
    .indexmain iframe {
      height: 80%; }
    .indexmain .formatoTexto {
      font-size: 1vw; } }

.tamanhoslide {
  height: 400px; }

.imgSlide {
  height: 400px; }

.pslide {
  width: 100%;
  text-align: center; }

article img {
  width: 90%;
  height: 400px; }

.textoHis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem; }
  .textoHis div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem; }

/*Mobile*/
@media only screen and (max-width: 768px) {
  .tamanhoslide {
    height: 300px; }
  .imgSlide {
    height: 300px; } }

.maincaract img {
  height: 250px; }
  .maincaract img:hover {
    transform: rotateY(180deg); }

.maincaract section {
  margin: 0.5rem; }

.textomedio {
  display: flex;
  justify-content: center;
  border: black 2px solid; }
  .textomedio p {
    text-align: justify;
    margin-top: 1rem;
    font-weight: bold; }

.tamanoDiv {
  height: 450px; }

.tamanoText {
  height: 324px; }
  .tamanoText h5 {
    text-align: center; }
  .tamanoText p {
    padding-left: 2rem; }

.maincripto {
  margin: 1rem; }
  .maincripto section {
    margin-top: 0.5rem; }

/*Mobile*/
@media only screen and (max-width: 726px) {
  .textocrypto {
    font-size: 3vw; } }

/*Tablet*/
@media only screen and (min-width: 726px) and (max-width: 1024px) {
  .textocrypto {
    font-size: 1.5vw; } }

/*Desktop*/
@media only screen and (min-width: 1024px) {
  .zoomvideocrypyo iframe:hover {
    transform: scale(1.1); } }

.maincontacto {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; }

.titulocontacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background1.jpg");
  background-size: 100vw;
  height: 300px;
  padding: 2rem; }
  .titulocontacto h1 {
    text-align: center;
    color: white;
    font-weight: bolder; }
  .titulocontacto p {
    text-align: center;
    color: white;
    font-weight: bolder; }

* {
  margin: 0;
  padding: 0; }

p {
  width: 90%;
  font-size: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify; }

@media only screen and (min-width: 990px) {
  header .navdesktop {
    display: flex;
    justify-content: flex-end; } }

footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem; }

footer div {
  padding: 0 0.3rem; }

.bi-facebook {
  font-size: 40px;
  color: aliceblue; }

.bi-twitter {
  font-size: 40px;
  color: #dcdceb; }

.bi-instagram {
  font-size: 40px;
  color: #ece7e6; }
