/*Mobile*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@media only screen and (max-width: 767px) {
  .TituloHome {
    display: flex;
    justify-content: center; }
    .TituloHome h1 {
      width: 50%;
      font-size: 24px;
      margin-top: 2rem; }
  .indexmain {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .indexmain div {
      display: flex;
      justify-content: center;
      padding: 0.5rem; }
    .indexmain iframe {
      width: 90%; }
    .indexmain .formatoTexto {
      font-size: 14px; } }

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .TituloHome {
    display: flex;
    justify-content: center; }
    .TituloHome h1 {
      width: 50%;
      font-size: 34px;
      margin-top: 2rem; }
  .indexmain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px; }
    .indexmain div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0.5rem; }
    .indexmain iframe {
      height: 80%; }
    .indexmain .formatoTexto {
      font-size: 1.2vw; } }

/*Desktop*/
@media only screen and (min-width: 1024px) {
  .TituloHome {
    display: flex;
    justify-content: center; }
    .TituloHome h1 {
      width: 50%;
      font-size: 40px;
      margin-top: 2rem; }
  .indexmain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 500px; }
    .indexmain div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 0.5rem; }
    .indexmain iframe {
      height: 80%; }
    .indexmain .formatoTexto {
      font-size: 13px; } }

.tamanhoslide {
  height: 400px; }

.imgSlide {
  height: 400px; }

.pslide {
  width: 100%;
  text-align: center; }

/*Mobile*/
@media only screen and (max-width: 767px) {
  .tamanhoslide {
    height: 300px; }
  .imgSlide {
    height: 300px; }
  .textoHis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; }
    .textoHis div {
      display: flex;
      flex-direction: column;
      align-items: center; } }

/*Tablet - Desktop*/
@media only screen and (min-width: 768px) {
  .textoHis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem; }
    .textoHis div {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.maincaract img {
  height: 250px; }

.maincaract section {
  margin: 0.5rem; }

.textomedio {
  display: flex;
  justify-content: center;
  border: black 2px solid; }
  .textomedio p {
    text-align: justify;
    margin-top: 1rem;
    font-weight: bold; }

.tamanoDiv {
  height: 450px; }

.tamanoText {
  height: 324px; }

.maincripto {
  margin: 1rem; }
  .maincripto section {
    margin-top: 0.5rem; }

.maincontacto {
  height: 565px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem; }

* {
  margin: 0;
  padding: 0; }

p {
  width: 90%;
  font-size: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify; }

@media only screen and (min-width: 990px) {
  header .navdesktop {
    display: flex;
    justify-content: flex-end; } }

footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem; }

footer div {
  padding: 0 0.3rem; }

.bi-facebook {
  font-size: 40px;
  color: aliceblue; }

.bi-twitter {
  font-size: 40px;
  color: #dcdceb; }

.bi-instagram {
  font-size: 40px;
  color: #ece7e6; }
