

    .maincaract{
        img{
            height: 250px;
            &:hover{
                transform: rotateY(180deg);                
            }
        }

        section{
            margin: 0.5rem;
        }
    }

    .textomedio{
        display: flex;
        justify-content: center;
        border: black 2px solid;
                
        p{
            text-align: justify;
            margin-top: 1rem;
            font-weight: bold;
        }
        
    }

    .tamanoDiv{
            height: 450px;
    }

    