
.tamanoText{

    height: 324px;
    h5{
        text-align: center;
    }
    p{
        padding-left: 2rem;
    }
}

.maincripto{
    margin: 1rem;
    section{
        margin-top: 0.5rem;
    }
}

/*Mobile*/
@media only screen and (max-width: 726px) {
    .textocrypto{
        font-size: 3vw;
    }
}

/*Tablet*/
@media only screen and (min-width:726px) and (max-width:1024px) {
    .textocrypto{
        font-size: 1.5vw;
    }
}

/*Desktop*/
@media only screen and (min-width: 1024px) {
    .zoomvideocrypyo{
        iframe{
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

